<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ restaurant.name }} Order Delivered</title>
</head>
<body>
    <h1>{{ restaurant.name }} Order Delivered</h1>
    <h3>{{ customer_order.order_status }}</h3>
    <p><a href="{% url 'customer_restaurant_menu' restaurant.id %}">Back to Menu</a></p>
    <p>Total: ${{ customer_order.total_cost }}</p>
    <p>Cart items:</p>
        <ul>
        {% for order_item in customer_order.order_items.all %}
            <li>{{ order_item.item.name }} - ${{ order_item.customer_price }} - {{ order_item.quantity }}</li>
        {% endfor %}
    </ul>
</body>
</html>