<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="email" name="email" required>Enter Email:</input>
        <input type="password" id="password" name="password">Enter Password:</input>
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'account_creation' %}">Create New Account</a><br>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>