<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distributor Menus</title>
</head>
<body>
<h1>Distributor Menus - {{ user.email }}</h1>

{% for menu in menu_list %}
 <p><strong>Menu:</strong> {{ menu.restaurant.name }} - {{ menu.created_at }} - {{ menu.status }} <a href="{% url 'distributor_edit_menu' menu_id=menu.id %}">Edit Menu</a></p>
{% endfor %}
    <form method="post" action="{% url 'distributor_add_menu' %}">
        {% csrf_token %}

            <label for="partner">Select an Partner:</label>
            <select id="partner" name="partner" required>
                {% for partner in partners %}
                    <option value="{{ partner.id }}">{{ partner.restaurant.name }}</option>
                {% endfor %}
            </select>
        <button type="submit">Create </button>
    </form>
        <a href="{% url 'distributor_home' %}">Home</a>
        <a href="{% url 'authentication:logout' %}">Logout</a>

</body>
</html>