    <p><strong>Menu Items:</strong></p>

    {% for menu_item in menu_items %}
        <ol>
            <li>
                <p class="inline">
                    <div class="inline" style="margin-right: 10px;">
                    {{ menu_item.name }} - {{ menu_item.price }} - {{ menu_item.description }}
                    ({% if menu_item.category %}
                        {{ menu_item.category.name }}
                    {% else %}
                        No Category
                    {% endif %})
                    </div>
                {% if menu_item_form is not None %}
                    <a href="{% url 'distributor_delete_menu_item' menu_id=menu.id menu_item_id=menu_item.id %}" class="inline">DELETE</a></a>
                {% endif %}
                </p>
            </li>
        </ol>
    {% endfor %}
