<!-- your_app/templates/your_app/partner_match_list.html -->
<style>
    .scrollable-block {
        max-height: 300px; /* Adjust the height as needed */
        overflow-y: auto;
        border: 1px solid #ccc; /* Optional: Add a border for better visual separation */
        padding: 10px; /* Optional: Add padding for better appearance */
        margin-bottom: 20px; /* Optional: Add margin for spacing between blocks */
    }
</style>

<br>
    <h3>Matched Pair</h3>
  <div class="scrollable-block">
{% for partner in partner_list %}
    <p><strong>Distributor:</strong> {{ partner.distributor.name }}</p>
    <p><strong>Restaurant:</strong> {{ partner.restaurant.name }}</p>
    <p><strong>Status:</strong> {{ partner.get_status_display }}</p>
    <p><strong>Locomotion:</strong> {{ partner.get_locomotion_display }}</p>
    <p><strong>Minutes Distance:</strong> {{ partner.minutes_distance }}</p>
    <hr>
{% empty %}
    <h3>Matched Pairs</h3>
    <p>No matched pairs found.</p>
{% endfor %}
  </div>
